<section class="sidebar-data-holder">
    <div class="logo"><a href="/" title="Back to home">{{@blog.title}}</a></div>                

    <!-- Author info -->
    {{#if post}}
        {{#post}}
            {{> author}}
        {{/post}}
    {{else}}
        {{#foreach posts}}
            {{#if @first}}
                {{> author}}
            {{/if}}
        {{/foreach}}
    {{/if}}

    <!-- Social media badges -->
    {{> social-media}}
    
    <footer id="main-footer">
	    <p><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}. Proudly published with <a href="https://ghost.org">Ghost</a>
	</footer>
</section>